

p{
  margin: 0;
  
}
h1{
  text-align: center;
  border: 2px solid black;
  padding-left: 20px;
  border-radius: 40px;
  background-color: black;
  color: white;
  box-sizing: border-box;
    box-shadow: 5px 5px 20px orange  
}





.head-one{
  background-color:rgb(59 89 222) ;
}
.head-two{
  background-color: rgb(3 106 229);
}
.head-three{
  background-color: #0093d1;
}
.head-four{
  background-color: #27a3d7;
}
.head-five{
background-color: #51b3de;
}
.head-six{
  background-color: #73c3e4;
}
.head-seven{
  background-color: #05ab03;
}
.head-eight{
  background-color: #fc768f;
}
.head-nine{
  background-color: #f6466d;
}
.head-ten{
  background-color: #e6073d;
}
.head-eleven{
  background-color: #bf0932;
}
.head-twelve{
  background-color: #9b2136;
}
.head-thirteen{
  background-color: #a70743;
}
.head-fourteen{
  background-color: #762d36;
}